# dependencies required for documentation
furo
dgl



torch_geometric
setuptools
sphinxcontrib-bibtex
matplotlib
sphinx_gallery
sphinx-autobuild
sphinx_rtd_theme
sphinx
ruamel.yaml
pandas
scipy
scikit-learn
pyro-api
pyro-ppl
numba